* {
    margin: 0;
    padding: 0;
}
html {
    background-image: url(../images/backgrounds/space2bg.avif);
    background-size: cover;
}

/*body*/
body {
    background-color: rgb(236, 187, 147);
    width: 80%;
    max-width: 800px;
    min-width: 400px;
    margin: auto;
    border: solid 5px rgb(9, 9, 39);
}

/*header*/
header {
    background: linear-gradient(90deg, rgb(209, 151, 101) 0%, sandybrown 30%,
     rgb(255, 236, 207) 50%, sandybrown 80%, rgb(209, 151, 101) 100%);
}
header h1 {
    padding: .5em;
    text-align: center;
    display: block;
    background-color:rgb(223, 149, 84);
}
header img {
    padding: 1em;
    display: block;
    margin: auto;
}

/*nav*/
nav ul {
    list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}
nav ul li {
    float: left;
}
nav ul ul li {
    float: none;
}
nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
}
nav ul::after {
    content: "";
    clear: both;
    display: block;
}
nav ul li:hover > ul {
    display: block;
}
nav ul li a {
    display: block;
    width: 200px;
    text-align: center;
    background-color: rgb(218, 157, 78);
    padding-top: 1em;
    padding-bottom: 1em;
    /*font*/
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}
nav ul li a:hover {
    font-style: italic;
}

/*main*/
main img {
    float: right;
    margin: 2em;
    border: 2px solid black;
}
main p {
    padding: 0 1em;
}
main ol {
    margin-left: 4em;
}
main h2 {
    padding: 1em;
    padding-left: .75em;
}
main h3 {
    padding: .5em 1em;
}

/*table*/
figcaption {
    font-size: large;
    font-weight: bold;
    text-align: center;
}
table {
    border: 2px solid black;
    border-collapse: collapse;
    margin: auto;
}
td {
    text-align: center;
    background-color:rgb(238, 226, 203)
}
td, th {
    border: 1px solid black;
    padding: .2em;
    padding-left: .6em;
    padding-right: .6em;
}
thead th {
    background-color: rgb(214, 201, 176);
    padding-top: .5em;
    padding-bottom: .5em;
}
tfoot td {
    background-color:rgb(214, 201, 176);
    font-weight: bold;
}

/*footer*/
footer {
    text-align: center;
    padding: 2em 0;
}