* {
    margin: 0;
    padding: 0;
}
html {
    background-image: url(../images/backgrounds/space2bg.avif);
    background-size:auto;
}

/*body*/
body {
    background-color: rgb(165, 141, 126);
    width: 800px;
    margin: auto;
    border: solid 5px rgb(0, 0, 0);
}

/*header*/
header h1 {
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 2px rgb(201, 176, 176);
    padding: 1em 0;
}

/*nav*/
nav ul {
    list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}
nav ul li {
    float: left;
}
nav ul ul li {
    float: none;
}
nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
}
nav ul::after {
    content: "";
    clear: both;
    display: block;
}
nav ul li:hover > ul {
    display: block;
}
nav ul li a {
    display: block;
    width: 200px;
    text-align: center;
    background-color: rgb(243, 208, 162);
    padding-top: 1em;
    padding-bottom: 1em;
    /*font*/
    color: rgb(14, 60, 87);
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}
nav ul li a:hover {
    font-style: italic;
}

/*main*/
main h2 {
    display: block;
    background-color:rgb(211, 170, 116);
    text-align: center;
    padding: .3em 0;
}
main h3 {
    display: block;
    background-color:rgb(207, 174, 142);
    text-align: center;
}
main img {
    margin: 5%;
    border-right: 12px solid rgb(226, 204, 185);
    border-bottom: 5px solid rgb(226, 204, 185);
    border-bottom-left-radius: .3em;
    border-top-right-radius: .8em;
}

/*table*/
figure {
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}
figcaption {
    font-size: large;
    font-weight: bold;
    text-align: center;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
}
td {
    text-align: center;
    background-color:rgb(199, 190, 174)
}
td, th {
    border: 1px solid black;
    padding: .2em;
    padding-left: .6em;
    padding-right: .6em;
}
thead th {
    background-color: rgb(214, 201, 176);
    padding-top: .5em;
    padding-bottom: .5em;
}
tfoot td {
    background-color:rgb(214, 201, 176);
    font-weight: bold;
}

/*footer*/
footer {
    background-color: rgb(204, 183, 154);
    clear: both;
}
footer p {
    text-align: center;
    padding: 1em 0;
}